<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.NOTIFICATION_POLICY_ACCESS_SETTINGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Food_Order_Application"
        tools:targetApi="31">
        <activity
            android:name=".admin.AdminFeedback"
            android:exported="false" />
        <activity
            android:name=".user.Feedback"
            android:exported="false" />
        <activity
            android:name=".user.orderplaced_splash"
            android:exported="false" />
        <activity
            android:name=".admin.OrderReadySplascreen"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user.Checkout"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".admin.EditCategories"
            android:exported="false" />
        <activity
            android:name=".admin.Item_activity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".admin.AdminLogout"
            android:exported="false" />
        <activity
            android:name=".admin.AdminOrders"
            android:exported="false" />
        <activity
            android:name=".admin.AdminMain"
            android:exported="false" />
        <activity
            android:name=".admin.AdminProfile"
            android:exported="false" />
        <activity
            android:name=".admin.AdminRegister"
            android:exported="false" />
        <activity
            android:name=".admin.AdminLogin"
            android:exported="false" />
        <activity
            android:name=".ui.Favorite"
            android:exported="false" />
        <activity
            android:name=".ui.Settings.MyprofileActivity"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="false" />
        <activity
            android:name=".user.UserRegister"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user.UserLogin"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".user.MainActivity"
            android:exported="true"
            android:label="Order On Spot"
            android:theme="@style/Theme.Food_Order_Application.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>